/* Default styles for services section */
.services {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}

.services-container {
  display: flex;
  justify-content: center;
}

.services-table {
  margin: 0 auto; /* Center align table */
  width: 80%; /* Adjust width for larger screens */
}

.services-table th,
.services-table td {
  padding: 18px;
  border: none;
  text-align: center; /* Center align table cells */
  width: 20%;
}

.services-table th {
  font-weight: bold;
}

.services-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: .7px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .services {
    flex-direction: row; /* Change direction to row for smaller screens */
  }

  .services-container{
    flex-wrap: wrap;
  }

  .services-table {
    width: 100%; /* Full width for smaller screens */
  }

  .services-table th,
  .services-table td {
    width: 100%; /* Full width for smaller screens */
  }
}
